header {
    background-color: #612E85;
}

.site-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa-brands {
    color: #FFFFFF;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.nav_item {
    color: #000000;
    font-family: Tahoma;
    font-size: small;
    width: 100%;
    padding: 1em;
}

.skip {
    float: right;
    position: relative;
    right: 5000px;
    bottom: 500px;
}

.skip:focus {
    top: 0px;
    left: 0px;
    bottom: 50px;
    right: 50px;
    padding: 0px;
    z-index: 1;
    position: absolute;
    width: fit-content;
    height: fit-content;
}

.active {
    font-family: Tahoma;
    font-size: small;
    font-weight: bold;
    font-style: italic;
    background-color: #4E0880;
    padding: 1em;
    border: 2px solid white;
}

a:link, a:visited {
    font-family: Tahoma;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    font-family: Arial;
    color: #FFFFFF;
    text-decoration: underline;
    font-weight: bold;
}

body {
    background-color: #4E0880;
}

h1 {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-decoration: underline;
    margin: 10px 10px 10px;
    padding: 10px 10px 10px;
}

p {
    color: #FFFFFF;
    background-color: #4E0880;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    margin: 10px 5px 10px;
    padding: 10px;
    overflow-wrap: normal;
}

p.gallery_text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 10px 5px 10px;
    padding: 10px;
    color: #FFFFFF;
    display: block;
    text-align: center;
}

img {
    border: 5px solid #E2A7F2;
    max-height: 600px;
    max-width: 300px;
    max-height: 600px;
    width: auto;
    padding: 5px;
    margin: 0px;
    overflow: scroll;
}

figure {
    text-align: center;
}

figcaption {
    text-align: center;
    font-family: Tahoma;
    font-size: small;
    font-style: italic;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
    padding: 10px;
    background-color: #4E0880;
}

aside {
    color: #565259;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    background-color: #E2A7F2;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

img:hover {
    box-shadow: 5px 5px 5px #E2A7F2;
}

.lgrid_container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #4E0880;
}

.lgrid_main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}

.dgrid_container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #4E0880;
}

.dgrid_main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}

.agrid_container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #4E0880;
}

.agrid_main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}

.igrid_container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #4E0880;
}

.igrid_main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}

.g_h1 {
    text-align: center;
}

.gflex-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.gallery_img {
    max-height: 600px;
    width: auto;
    padding: 5px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    font-family: Tahoma;
    font-size: small;
    font-style: italic;
    color: #E2A7F2;
    text-shadow: 1px 1px #000000;
    padding: 10px;
}

.form_container {
    border-radius: 5px;
    padding: 20px;
    border: 5px solid #E2A7F2
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    display: block;
  }

button {
    background-color: #E2A7F2;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #EEC4FF;
    font-weight: bold;
}

.form_title {
    font-size: 24px;
    text-decoration: underline;
}

.form_text {
    font-size: 20px;
}

.contact_form {
    color: #FFFFFF;
    align-items: center;
}

footer {
    text-align: center;
    background: url('../images/gsakura.jpeg') #4E0880;
}

.footer_text {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    color: #000000;
    background-color: #E2A7F2;
}

@media all and (min-width: 800px) {
  
    .igrid_container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .igrid_header {
        display: grid;
        grid-column: 1 / span 1;
    }

    .igrid_main {
        grid-column: 1 / span 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
        width: 100%;
        row-gap: 10px;
    }

    .imgrid_h1 {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    #imgrid_fig1 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    #imgrid_fig2 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    #imgrid_p1 {
        grid-column: 2 / span 2;
        grid-row: 2 / span 2;
        align-self: center;
    }

    #imgrid_p2 {
        grid-column: 1 / span 2;
        grid-row: 4 / span 2;
        align-self: center;
    }

    #imgrid_fig3 {
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;
    }

    #imgrid_fig4 {
        grid-column: 3 / span 1;
        grid-row: 5 / span 1;
    }

    .igrid_aside1 {
        grid-column: 1 / span 1;
    }

    .igrid_footer {
        grid-column: 1 / span 1;
    }

    .agrid_container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .agrid_header {
        display: grid;
        grid-column: 1 / span 1;
    }

    .agrid_main {
        grid-column: 1 / span 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
        width: 100%;
        row-gap: 10px;
    }

    .amgrid_h1 {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .amgrid_aside1 {
        grid-column: 1 / span 3;
        grid-row: 2;
    }

    #amgrid_fig1 {
        grid-column: 1 / span 1;
        grid-row: 3;
    }

    #amgrid_fig2 {
        grid-column: 2 / span 1;
        grid-row: 3;
    }

    #amgrid_fig3 {
        grid-column: 3 / span 1;
        grid-row: 3;
    }

    #amgrid_p1 {
        grid-column: 1 / span 3;
        grid-row: 4;
    }

    #amgrid_p2 {
        grid-column: 1 / span 3;
        grid-row: 5;
    }

    .agrid_footer {
        grid-column: 1 / span 1;
        grid-row: 6;
    }

    .dgrid_container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .dgrid_header {
        display: grid;
        grid-column: 1 / span 1;
    }

    .dgrid_main {
        grid-column: 1 / span 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: max-content;
        width: 100%;
        row-gap: 10px;
    }

    .dmgrid_h1 {
        grid-column: 1 / span 6;
        grid-row: 1;
    }

    .dmgrid_aside1 {
        grid-column: 1 / span 6;
        grid-row: 2;
    }

    #dmgrid_fig1 {
        grid-column: 1 / span 2;
        grid-row: 3;
        align-self: center;
    }

    #dmgrid_p1 {
        grid-column: 3 / span 4;
        grid-row: 3;
    }

    #dmgrid_fig2 {
        grid-column: 1 / span 3;
        grid-row: 4;
    }

    #dmgrid_fig3 {
        grid-column: 4 / span 3;
        grid-row: 4;
    }

    #dmgrid_p2 {
        grid-column: 1 / span 4;
        grid-row: 5;
    }

    #dmgrid_fig4 {
        grid-column: 5 / span 2;
        grid-row: 5;
        align-self: center;
    }

    .dgrid_footer {
        grid-column: 1 / span 1;
    }

    .lgrid_container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .lgrid_header {
        display: grid;
        grid-column: 1 / span 1;
    }

    .lgrid_main {
        grid-column: 1 / span 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: max-content;
        width: 100%;
        row-gap: 10px;
    }

    #lmgrid_h1 {
        grid-column: 1 / span 5;
        grid-row: 1;
    }

    #lmgrid_fig1 {
        grid-column: 1 / span 2;
        align-self: center;
        grid-row: 2;
    }

    #lmgrid_p1 {
        grid-column: 3 / span 3;
        grid-row: 2;
    }

    #lmgrid_fig2 {
        grid-column: 1 / span 2;
        align-self: center;
        grid-row: 3;
    }

    #lmgrid_p2 {
        grid-column: 3 / span 3;
        grid-row: 3;
    }

    #lmgrid_fig3 {
        grid-column: 1 / span 2;
        align-self: center;
        grid-row: 4;
    }

    #lgrid_aside1 {
        grid-column: 3 / span 3;
        grid-row: 4;
        padding: 30px;
        text-align: center;
        align-self: center;
    }

    .lgrid_footer {
        grid-column: 1 / span 1;
    }

    .gflex-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media all and (min-width: 1000px) {

    .igrid_main {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .imgrid_h1 {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    #imgrid_fig1 {
        grid-column: 1 / span 1;
        grid-row: 2;
    }

    #imgrid_p1 {
        grid-column: 2 / span 1;
        grid-row: 2;
    }

    #imgrid_fig2 {
        grid-column: 3 / span 1;
        grid-row: 2;
    }

    #imgrid_fig3 {
        grid-column: 1 / span 1;
        grid-row: 3;
    }

    #imgrid_p2 {
        grid-column: 2 / span 1;
        grid-row: 3;
    }

    #imgrid_fig4 {
        grid-column: 3 / span 1;
        grid-row: 3;
    }

    .agrid_main {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .amgrid_aside1 {
        grid-row: 2;
    }

    #amgrid_fig1 {
        grid-column: 1 / span 1;
        grid-row: 3;
    }

    #amgrid_p1 {
        grid-column: 2 / span 2;
        grid-row: 3;
    }

    #amgrid_fig2 {
        grid-column: 1 / span 1;
        grid-row: 4;
    }

    #amgrid_p2 {
        grid-column: 2 / span 1;
        grid-row: 4;
    }

    #amgrid_fig3 {
        grid-column: 3 / span 1;
        grid-row: 4;
    }

    #dmgrid_fig2 {
        grid-column: 1 / span 2;
    }

    #dmgrid_fig3 {
        grid-column: 3 / span 2;
    }

    #dmgrid_fig4 {
        grid-column: 5 / span 2;
        grid-row: 4;
    }

    #dmgrid_p2 {
        grid-column: 1 / span 6;
        grid-row: 5;
    }

    #lmgrid_fig1 {
        grid-column: 1 / span 1;
    }

    #lmgrid_p1 {
        grid-column: 2 / span 3;
    }

    #lmgrid_fig2 {
        grid-column: 5 / span 1;
        grid-row: 2;
    }

    #lmgrid_p2 {
        grid-column: 1 / span 5;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media (prefers-reduced-motion) {
    html {
        animation: none;
    }
}